@namespace HotelDruid.Client.Components.Inventory
@using HotelDruid.Client.Services
@inject IInventoryApiService InventoryApi
@inject IStringLocalizer<SharedResource> L

<div class="rpanels">
    <div class="rbox">
        <div class="rheader">@L["inventory.title", "Top Inventory"]</div>
        <div class="rcontent">
            @if (Loading)
            {
                <p>@L["common.loading", "Loading..."]</p>
            }
            else if (!Items.Any())
            {
                <p>@L["inventory.empty", "No inventory items"]</p>
            }
            else
            {
                <table class="t1"><thead><tr><th>Asset</th><th>Qty</th></tr></thead><tbody>
                    @foreach (var i in Items.Take(5))
                    {
                        <tr><td>@i.AssetId</td><td>@i.Quantity</td></tr>
                    }
                </tbody></table>
            }
        </div>
    </div>
</div>

@code {
    private List<InventoryDto> Items = new();
    private bool Loading = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        try { Loading = true; Items = await InventoryApi.GetInventoryAsync(); }
        catch { }
        finally { Loading = false; }
    }

}


